@font-face {
	font-family: 'Klee One';
	src: url('./font/KleeOne-Regular.ttf') format('truetype'),
       url('./font/KleeOne-SemiBold.ttf') format('truetype');
}

@keyframes heartAnimation {
  0% {
    /* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    /* もとのサイズに戻す */
    transform: scale(1.0);
  }
}

body { 
  margin-top: 30px;
  font-family: Klee One;
  font-style: normal;
  font-weight: normal;
}

.form select { 
  width: 103px;
} 

.templates { 
  display: none; 
}

.fixed-bottom {
  user-select: none;
  position: fixed;
  bottom: 0px;
  z-index: 1024;
  width: 100%;
}

.fixed-bottom div {
  text-align: center;
}

.fixed-bottom a {
  color: black;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 30px;
}

.fixed-bottom p {
  color: black;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 30px;
}

.fixed-bottom a:hover {
  text-decoration: underline;
}

.prev {
  padding-right: 65px;
}

.next {
  padding-left: 65px;
}

.iconrow {
  user-select: none;
}

.half-round {
  background-color: white;
  width: auto;
  height: 40px;
  border-radius: 18px 18px 18px 18px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.round {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  text-align: center;
}

.icon-heart {
  display: inline-block;
  cursor: pointer;
  margin-top: 11px;
  fill: #AAB8C2;
}

.icon-heart.heartEnable {
  animation: heartAnimation .2s;
  fill: #e74c3c;
}

.icon-heart.heartDisable {
  fill: #AAB8C2;
}

.likecount {
  color: #535c68;
  font-size: 12px;
  margin-top: 8px;
  vertical-align: middle;
  display: inline-block;
}

.icon-twitter {
  cursor: pointer;
  margin-left: 1px;
  margin-top: 9px;
  fill: #AAB8C2;
}

.icon-twitter:hover {
  fill: #586d7b;
}

.icon-line {
  cursor: pointer;
  margin-top: 9px;
  fill: #AAB8C2;
}

.icon-line:hover {
  fill: #586d7b;
}

.icon-google {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.date-view {
  margin-bottom: -10px;
}

.home {
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}

